# Arquivos de Input e Processed
data/input/*
data/processed/*

!data/input/.gitkeep
!data/processed/.gitkeep

# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]

# Arquivos de ambiente
.env

# Logs
*.log

# Configurações do VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db